Repository crossplane/crossplane, pull requests merged in 2019-08, with the labels that each got.

#629 Additional Unit Tests
  pkg/controller/aws/cache/managed.go
  pkg/controller/aws/cache/managed_test.go
  pkg/resource/api_test.go
  pkg/resource/managed_reconciler_test.go
Labels: test

#605 add initial one-pager for stack ui metadata
  design/design-doc-stacks.md
  design/one-pager-stack-ui-metadata.md
Labels: design, stacks

#604 revise design-doc for stacks
  design/design-doc-stacks.md
  design/one-pager-stack-ui-metadata.md
Labels: design, stacks

#693 bugfix for claim controller predicates
  pkg/controller/azure/storage/container/claim.go
  pkg/controller/gcp/storage/claim.go
Labels: bug
