Repository crossplane/crossplane, pull requests merged in 2019-10, with the labels that each got.

#940 Fix wording in developer guide
  docs/services-developer-guide.md
Labels: docs

#941 added timeout to Jenkins pipeline
  Jenkinsfile
Labels: build

#932 Add clusterStacks option to Crossplane helm chart
  cluster/charts/crossplane/templates/clusterstackinstalls.yaml
  cluster/charts/crossplane/values.yaml.tmpl
Labels: stacks

#930 One pager on Stacks Status spec and related changes/additions
  design/design-doc-stacks.md
  design/one-pager-stack-status-spec.md
  design/one-pager-stack-ui-metadata.md
  pkg/stacks/unpack_test.go
Labels: design, stacks

#931 design: release process and engineering
  design/one-pager-release-process.md
Labels: design, engineering

#976 Stack CRDs should use a managed-by label, not annotation
  design/design-doc-stacks.md
  pkg/stacks/unpack.go
  pkg/stacks/unpack_test.go
Labels: stacks

#928 One pager for Template Stacks
  design/design-doc-stacks.md
  design/one-pager-template-stacks.md
Labels: design, stacks
