Repository crossplane/crossplane, pull requests merged in 2019-11, with the labels that each got.

#1008 Stack managed ClusterRoles to support self-service
  design/images/cluster-stack-installed.png
  design/images/namespace-stack-installed.png
  design/one-pager-stacks-security-isolation.md
Labels: design, stacks

#1073 docs: Fixes for GCP provider setup doc
  docs/cloud-providers/gcp/gcp-provider.md
Labels: backport

#857 docs: add definition of done
  .github/PULL_REQUEST_TEMPLATE.md
  design/one-pager-definition-of-done.md
Labels: design, engineering
