Repository crossplane/crossplane, pull requests merged in 2020-02, with the labels that each got.

#1262 [Bug] Pass correct number of args to logger
  pkg/controller/workload/kubernetes/application/application.go
  pkg/controller/workload/kubernetes/scheduler/scheduler.go
Labels: bug

#1234 stacks: add rbac rules to predefined personas
  cluster/charts/crossplane-types/templates/crossplane-admin-clusterrole.yaml
  cluster/charts/crossplane-types/templates/environment-personas-clusterroles.yaml
  cluster/charts/crossplane-types/templates/namespace-personas-clusterroles.yaml
  cluster/charts/crossplane/templates/crossplane-admin-clusterrole.yaml
  cluster/charts/crossplane/templates/environment-personas-clusterroles.yaml
  cluster/charts/crossplane/templates/namespace-personas-clusterroles.yaml
Labels: stacks

#1258 stacks: only labeled namespaces enroll in persona managment
  design/one-pager-stacks-security-isolation.md
  pkg/controller/stacks/persona/persona.go
  pkg/controller/stacks/persona/persona_test.go
  pkg/controller/stacks/stack/stack.go
  pkg/controller/stacks/stack/stack_test.go
  pkg/controller/stacks/stacks.go
Labels: stacks

#1251 Remove template-engine & StackConfiguration experiments
  Makefile
  apis/stacks/v1alpha1/register.go
  apis/stacks/v1alpha1/stackconfiguration.go
  apis/stacks/v1alpha1/zz_generated.deepcopy.go
  cluster/charts/crossplane-types/crds/stacks.crossplane.io_stackconfigurations.yaml
  cluster/charts/crossplane/templates/crds/stacks.crossplane.io_stackconfigurations.yaml
  cluster/images/resource-engine-helm2/Dockerfile
  cluster/images/resource-engine-helm2/Makefile
  cluster/images/resource-engine-helm2/README.md
  cluster/images/resource-engine-kubectl/Dockerfile
  cluster/images/resource-engine-kubectl/Makefile
  cluster/images/resource-engine-kubectl/README.md
  cluster/test/template-engine/Makefile
  cluster/test/template-engine/README.md
  cluster/test/template-engine/helm2/Dockerfile
  cluster/test/template-engine/helm2/app.yaml
  cluster/test/template-engine/helm2/resources/.helmignore
  cluster/test/template-engine/helm2/resources/Chart.yaml
  cluster/test/template-engine/helm2/resources/sampleclaims.crd.yaml
  cluster/test/template-engine/helm2/resources/templates/NOTES.txt
  cluster/test/template-engine/helm2/resources/templates/_helpers.tpl
  cluster/test/template-engine/helm2/resources/templates/configmap.yaml
  cluster/test/template-engine/helm2/resources/values.yaml
  cluster/test/template-engine/helm2/sample-clusterinstall.yaml
  cluster/test/template-engine/helm2/sample-cr.yaml
  cluster/test/template-engine/helm2/sample-crd.yaml
  cluster/test/template-engine/helm2/stack.yaml
  cmd/crossplane/main.go
  go.mod
  go.sum
  pkg/controller/stacks/install/installjob.go
  pkg/controller/stacks/install/stackinstall.go
  pkg/controller/stacks/templates/renderphase_controller.go
  pkg/controller/stacks/templates/setupphase_controller.go
  pkg/controller/stacks/templates/stackdefinition_controller.go
  pkg/controller/stacks/templates/templates.go
  pkg/stacks/steps.go
  pkg/stacks/templates/engines/engine_types.go
  pkg/stacks/templates/engines/helm2.go
  pkg/stacks/templates/engines/resource_engines.go
  pkg/stacks/templates/engines/util.go
  pkg/stacks/unpack.go
  pkg/stacks/unpack_test.go
Labels: template-stacks

#1281 Some Image and SA Stack properties configurable from StackInstall
  apis/stacks/v1alpha1/stackdefinition.go
  apis/stacks/v1alpha1/types.go
  apis/stacks/v1alpha1/zz_generated.deepcopy.go
  cluster/charts/crossplane-types/crds/stacks.crossplane.io_clusterstackinstalls.yaml
  cluster/charts/crossplane-types/crds/stacks.crossplane.io_stackdefinitions.yaml
  cluster/charts/crossplane-types/crds/stacks.crossplane.io_stackinstalls.yaml
  cluster/charts/crossplane-types/crds/stacks.crossplane.io_stacks.yaml
  cluster/charts/crossplane/crds/stacks.crossplane.io_clusterstackinstalls.yaml
  cluster/charts/crossplane/crds/stacks.crossplane.io_stackinstalls.yaml
  cluster/charts/crossplane/templates/crds/stacks.crossplane.io_clusterstackinstalls.yaml
  cluster/charts/crossplane/templates/crds/stacks.crossplane.io_stackdefinitions.yaml
  cluster/charts/crossplane/templates/crds/stacks.crossplane.io_stackinstalls.yaml
  cluster/charts/crossplane/templates/crds/stacks.crossplane.io_stacks.yaml
  design/design-doc-stacks.md
  docs/stacks-guide.md
  pkg/controller/stacks/install/installjob.go
  pkg/controller/stacks/install/installjob_test.go
  pkg/controller/stacks/install/stackinstall.go
  pkg/controller/stacks/install/stackinstall_test.go
  pkg/controller/stacks/stack/stack.go
  pkg/stacks/executorinfo.go
  pkg/stacks/executorinfo_test.go
  pkg/stacks/pod.go
  pkg/stacks/pod_test.go
Labels: stacks
