Repository crossplane/crossplane, changes with the owners that CODEOWNERS names for each.
All owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers, @crossplane/steering-committee, @negz, @hasheddan, @muvaf, @turkenh

Update readme: Removed v1.7 from supported releases
  README.md
Owners: @crossplane/steering-committee

added v1.11
  README.md
Owners: @crossplane/steering-committee

removed v1.7 and added v1.11 in readme
  README.md
Owners: @crossplane/steering-committee

Update docs/getting-started/install-crossplane.md
  docs/getting-started/install-crossplane.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

corrects headings
  docs/getting-started/provider-gcp.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

corrects headings
  docs/getting-started/provider-aws.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Corrects include link to crossplane-install
  docs/getting-started/provider-aws.md
  docs/getting-started/provider-azure.md
  docs/getting-started/provider-gcp.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

scrubs Upbound/up CLI references. Fixes minor issues found in review. Also beings to address #3406
  docs/getting-started/install-crossplane.md
  docs/getting-started/provider-aws.md
  docs/getting-started/provider-azure.md
  docs/getting-started/provider-gcp.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Correct Provider case Signed-off-by: Pete Lumbis <pete@upbound.io> Co-authored-by: Tim Bannister <tim@scalefactory.com>
  docs/getting-started/provider-aws.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Update include shortcode to pass CI
  docs/getting-started/provider-aws.md
  docs/getting-started/provider-azure.md
  docs/getting-started/provider-gcp.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

helm tolerations map > list
  cluster/charts/crossplane/README.md
  cluster/charts/crossplane/templates/deployment.yaml
  cluster/charts/crossplane/templates/rbac-manager-deployment.yaml
  cluster/charts/crossplane/values.yaml.tmpl
  docs/reference/install.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Update original install guide to include the new 'Install Crossplane' common instructions
  docs/getting-started/install-configure.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

add details to explain code block markup and the use of syntax highighter hints
  docs/contributing/docs.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

rbac/ns/reconciler: only compare crossplane rbac annotations
  internal/controller/rbac/namespace/reconciler.go
  internal/controller/rbac/namespace/reconciler_test.go
Owners: @crossplane/crossplane-reviewers, @negz

Change "Compute" to "Compute" in CNCF
  README.md
Owners: @crossplane/steering-committee

Add option for setting user agent on fetcher
  internal/xpkg/fetch.go
Owners: @crossplane/crossplane-reviewers, @hasheddan

Set default user agent for package fetching
  cmd/crossplane/core/core.go
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Support providing custom user agent
  cmd/crossplane/core/core.go
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

remove minikube as a recommended k8s method
  docs/getting-started/install-crossplane.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

fix heading depth
  docs/getting-started/provider-azure.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

adds callout for other auth methods
  docs/getting-started/provider-azure.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Change 'Compute' to 'Computing' in CNCF
  README.md
Owners: @crossplane/steering-committee

Ensure stable sorting of object references on package revisions
  internal/controller/pkg/revision/reconciler.go
Owners: @crossplane/crossplane-reviewers, @hasheddan

Ensure stable sorting of object references on package revisions
  internal/controller/pkg/revision/reconciler.go
Owners: @crossplane/crossplane-reviewers, @hasheddan

Only update frontmatter on minor releases
  .github/ISSUE_TEMPLATE/release.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Update docs to point to v1.10.1
  docs/cloud-providers/aws/aws-provider.md
  docs/cloud-providers/gcp/gcp-provider.md
  docs/concepts/managed-resources.md
  docs/getting-started/create-configuration.md
  docs/getting-started/install-configure.md
  docs/getting-started/provision-infrastructure.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Set GOMAXPROCS and GOMEMLIMIT based on resource limits
  cluster/charts/crossplane/templates/deployment.yaml
  cluster/charts/crossplane/templates/rbac-manager-deployment.yaml
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Remove v1.7 docs as minor version has reached EOL
  Makefile
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Change the composition name to `production`
  docs/concepts/composition.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Explicitly setting release namespace on resources
  cluster/charts/crossplane/templates/deployment.yaml
  cluster/charts/crossplane/templates/rbac-manager-deployment.yaml
  cluster/charts/crossplane/templates/rbac-manager-serviceaccount.yaml
  cluster/charts/crossplane/templates/secret.yaml
  cluster/charts/crossplane/templates/service.yaml
  cluster/charts/crossplane/templates/serviceaccount.yaml
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Update Doc Argo CD Configuration
  docs/guides/argo-cd-crossplane.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Update comp revision hash algo to sha256
  apis/apiextensions/v1/composition_hash.go
  internal/controller/apiextensions/composition/revision.go
  internal/controller/apiextensions/composition/revision_test.go
Owners: @crossplane/crossplane-reviewers, @muvaf

feat(chart): Allow prepopulating cache from ConfigMap
  cluster/charts/crossplane/templates/deployment.yaml
  cluster/charts/crossplane/values.yaml.tmpl
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Add reference policy concept to document
  docs/concepts/managed-resources.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

CLI install script: prefix variables
  docs/getting-started/install-configure.md
  install.sh
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

CLI install script: prefix variables
  docs/getting-started/install-configure.md
  install.sh
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

CLI install script: prefix variables
  docs/getting-started/install-configure.md
  install.sh
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

CLI install script: prefix variables
  docs/getting-started/install-configure.md
  install.sh
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Implement composition selector logic
  apis/apiextensions/v1/composition_hash.go
  apis/apiextensions/v1alpha1/conditions.go
  go.mod
  go.sum
  internal/controller/apiextensions/claim/configurator.go
  internal/controller/apiextensions/composite/api.go
  internal/controller/apiextensions/composition/reconciler.go
  internal/controller/apiextensions/composition/reconciler_test.go
  internal/controller/apiextensions/composition/revision.go
  internal/controller/apiextensions/composition/revision_test.go
  internal/xcrd/schemas.go
Owners: @crossplane/crossplane-reviewers, @muvaf, @crossplane/crossplane-maintainers

Add unit tests for label/annotation hash
  internal/controller/apiextensions/composition/reconciler_test.go
Owners: @crossplane/crossplane-reviewers, @muvaf

CODEOWNERS:

# This file controls automatic PR reviewer assignment. See the following docs:
#
# * https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# * https://docs.github.com/en/organizations/organizing-members-into-teams/managing-code-review-settings-for-your-team
#
# The goal of this file is for most PRs to automatically and fairly have one
# maintainer and two reviewers set as PR reviewers. All maintainers have
# permission to approve and merge PRs, but reviewers do not. Most PRs should be
# reviewed by members of the reviewers group before being passed to a maintainer
# for final review.
#
# This in part depends on how the groups in this file are configured.
#
# @crossplane/steering-committee - Assigns 3 members. Admin perms to this repo.
# @crossplane/crossplane-maintainers - Assigns 1 member. Maintain perms to this repo.
# @crossplane/crossplane-reviewers - Assigns 2 members. Write perms to this repo.
#
# Where possible, prefer explicitly specifying a maintainer who is a subject
# matter expert for a particular part of the codebase rather than using the
# @crossplane/crossplane-maintainers group.
#
# See also OWNERS.md for governance details

# Fallback owners
*                                   @crossplane/crossplane-maintainers @crossplane/crossplane-reviewers

# Governance owners - steering committee
/README.md                           @crossplane/steering-committee
/OWNERS.md                           @crossplane/steering-committee
/CHARTER.md                          @crossplane/steering-committee
/CODE_OF_CONDUCT.md                  @crossplane/steering-committee
/GOVERNANCE.md                       @crossplane/steering-committee
/ROADMAP.md                          @crossplane/steering-committee
/LICENSE                             @crossplane/steering-committee

# Design documents
/design/                             @crossplane/crossplane-maintainers @negz

# Package manager
/apis/pkg/                           @crossplane/crossplane-reviewers @hasheddan
/internal/xpkg/                      @crossplane/crossplane-reviewers @hasheddan
/internal/dag/                       @crossplane/crossplane-reviewers @hasheddan
/internal/controller/pkg/            @crossplane/crossplane-reviewers @hasheddan

# Composition
/apis/apiextensions/                 @crossplane/crossplane-reviewers @muvaf
/internal/xcrd/                      @crossplane/crossplane-reviewers @muvaf
/internal/controller/apiextensions/  @crossplane/crossplane-reviewers @muvaf

# RBAC
/cmd/crossplane/rbac/                @crossplane/crossplane-reviewers @negz
/internal/controller/rbac/           @crossplane/crossplane-reviewers @negz

# Misc
/apis/secrets/                       @crossplane/crossplane-reviewers @turkenh
/cmd/crank/                          @crossplane/crossplane-reviewers @hasheddan
/internal/initializer/               @crossplane/crossplane-reviewers @muvaf
/internal/features/                  @crossplane/crossplane-reviewers @negz
