Repository crossplane/crossplane, changes with the owners that CODEOWNERS names for each.
All owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers, @crossplane/steering-committee, @negz, @hasheddan, @muvaf, @turkenh

remove duplicate / partial paragraph
  docs/reference/install.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Rename docs repo (#3502)
  .github/ISSUE_TEMPLATE/release.md
  Makefile
  docs/contributing/docs.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Rename docs repo (#3502)
  .github/ISSUE_TEMPLATE/release.md
  Makefile
  docs/contributing/docs.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Rename docs repo (#3502)
  .github/ISSUE_TEMPLATE/release.md
  Makefile
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Rename docs repo (#3502)
  .github/ISSUE_TEMPLATE/release.md
  Makefile
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

remove duplicate / partial paragraph
  docs/reference/install.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Fix install doc generation
  Makefile
  cluster/charts/crossplane/README.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Regenerate CompositionRevision definition
  apis/apiextensions/v1alpha1/zz_generated.revision_types.go
  cluster/crds/apiextensions.crossplane.io_compositionrevisions.yaml
Owners: @crossplane/crossplane-reviewers, @muvaf, @crossplane/crossplane-maintainers

Make check-diff always run
  .github/workflows/ci.yml
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Fix install doc generation
  Makefile
  cluster/charts/crossplane/README.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Make check-diff always run
  .github/workflows/ci.yml
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Update docs/contributing/docs.md
  docs/contributing/docs.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

fix(transforms): add match to kubebuilder enum
  apis/apiextensions/v1/composition_transforms.go
Owners: @crossplane/crossplane-reviewers, @muvaf

chore: backport to older APIVersions
  apis/apiextensions/v1alpha1/zz_generated.revision_types.go
  apis/apiextensions/v1beta1/revision_types.go
Owners: @crossplane/crossplane-reviewers, @muvaf

chore: regenerate CRDs
  cluster/crds/apiextensions.crossplane.io_compositionrevisions.yaml
  cluster/crds/apiextensions.crossplane.io_compositions.yaml
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Move all Patch and Transform logic to the XR controller
  apis/apiextensions/v1/composition_hash.go
  apis/apiextensions/v1/composition_patches.go
  apis/apiextensions/v1/composition_transforms.go
  internal/controller/apiextensions/composite/composed.go
  internal/controller/apiextensions/composite/patches.go
  internal/controller/apiextensions/composite/patches_test.go
  internal/controller/apiextensions/composite/reconciler.go
  internal/controller/apiextensions/composite/transforms.go
  internal/controller/apiextensions/composite/transforms_test.go
Owners: @crossplane/crossplane-reviewers, @muvaf

Add agent-inject to crossplane itself
  docs/guides/vault-as-secret-store.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

feat(transform): Add ToJson string conversion
  apis/apiextensions/v1/composition_transforms.go
  cluster/crds/apiextensions.crossplane.io_compositions.yaml
  docs/reference/composition.md
  internal/controller/apiextensions/composite/transforms.go
  internal/controller/apiextensions/composite/transforms_test.go
Owners: @crossplane/crossplane-reviewers, @muvaf, @crossplane/crossplane-maintainers

Docs: Fiz docs about readinessChecks in the MatchInteger code snippet example
  docs/reference/composition.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Docs: Fiz docs about readinessChecks in the MatchInteger code snippet example
  docs/reference/composition.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Docs: Fiz docs about readinessChecks in the MatchInteger code snippet example
  docs/reference/composition.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Docs: Fiz docs about readinessChecks in the MatchInteger code snippet example
  docs/reference/composition.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

remove escaped quotes
  docs/guides/vault-as-secret-store.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

remove escaped quotes
  docs/guides/vault-as-secret-store.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Add agent-inject to crossplane itself
  docs/guides/vault-as-secret-store.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

feat(revision): Store composition manifest instead of fixed API
  apis/apiextensions/v1/composition_revision.go
  apis/apiextensions/v1/composition_revision_test.go
  apis/apiextensions/v1alpha2/doc.go
  apis/apiextensions/v1alpha2/register.go
  apis/apiextensions/v1alpha2/revision_types.go
  apis/apiextensions/v1alpha2/zz_generated.deepcopy.go
  cluster/crds/apiextensions.crossplane.io_compositionrevisions.yaml
  internal/controller/apiextensions/composite/api.go
  internal/controller/apiextensions/composite/api_test.go
  internal/controller/apiextensions/composition/reconciler.go
  internal/controller/apiextensions/composition/reconciler_test.go
  internal/controller/apiextensions/composition/revision.go
  internal/controller/apiextensions/composition/revision_test.go
Owners: @crossplane/crossplane-reviewers, @muvaf, @crossplane/crossplane-maintainers

change tutorial style and move back to guides
  docs/guides/composition-revisions-example.md
  docs/guides/composition-revisions.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

fix zsh command failures
  docs/guides/composition-revisions-example.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

add more explainations
  docs/guides/composition-revisions-example.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Add docs for 4-part composition building tutorial
  docs/guides/basic-compositions/build-composition.md
  docs/guides/basic-compositions/build-xrd.md
  docs/guides/basic-compositions/plan-api.md
  docs/guides/basic-compositions/test-and-deploy.md
  docs/media/basic-compositions/Screenshot_20221216_100511.png:Zone.Identifier
  docs/media/basic-compositions/composition-workspace-setup.png
  docs/media/basic-compositions/composition-yaml.png
  docs/media/basic-compositions/config-source.png
  docs/media/basic-compositions/crd-examples.png
  docs/media/basic-compositions/crd-required.png
  docs/media/basic-compositions/deployment-proof.png
  docs/media/basic-compositions/gcp-deployment-proof.png
  docs/media/basic-compositions/marketplace-crds.png
  docs/media/basic-compositions/marketplace-search.png
  docs/media/basic-compositions/marketplace.png
  docs/media/basic-compositions/ref-configs.png
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

remove verify headers
  docs/guides/composition-revisions-example.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Ignore Zone.Identifier files. Resolves #3535
  .gitignore
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

remove bullet points
  docs/guides/composition-revisions-example.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

CODEOWNERS:

# This file controls automatic PR reviewer assignment. See the following docs:
#
# * https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# * https://docs.github.com/en/organizations/organizing-members-into-teams/managing-code-review-settings-for-your-team
#
# The goal of this file is for most PRs to automatically and fairly have one
# maintainer and two reviewers set as PR reviewers. All maintainers have
# permission to approve and merge PRs, but reviewers do not. Most PRs should be
# reviewed by members of the reviewers group before being passed to a maintainer
# for final review.
#
# This in part depends on how the groups in this file are configured.
#
# @crossplane/steering-committee - Assigns 3 members. Admin perms to this repo.
# @crossplane/crossplane-maintainers - Assigns 1 member. Maintain perms to this repo.
# @crossplane/crossplane-reviewers - Assigns 2 members. Write perms to this repo.
#
# Where possible, prefer explicitly specifying a maintainer who is a subject
# matter expert for a particular part of the codebase rather than using the
# @crossplane/crossplane-maintainers group.
#
# See also OWNERS.md for governance details

# Fallback owners
*                                   @crossplane/crossplane-maintainers @crossplane/crossplane-reviewers

# Governance owners - steering committee
/README.md                           @crossplane/steering-committee
/OWNERS.md                           @crossplane/steering-committee
/CHARTER.md                          @crossplane/steering-committee
/CODE_OF_CONDUCT.md                  @crossplane/steering-committee
/GOVERNANCE.md                       @crossplane/steering-committee
/ROADMAP.md                          @crossplane/steering-committee
/LICENSE                             @crossplane/steering-committee

# Design documents
/design/                             @crossplane/crossplane-maintainers @negz

# Package manager
/apis/pkg/                           @crossplane/crossplane-reviewers @hasheddan
/internal/xpkg/                      @crossplane/crossplane-reviewers @hasheddan
/internal/dag/                       @crossplane/crossplane-reviewers @hasheddan
/internal/controller/pkg/            @crossplane/crossplane-reviewers @hasheddan

# Composition
/apis/apiextensions/                 @crossplane/crossplane-reviewers @muvaf
/internal/xcrd/                      @crossplane/crossplane-reviewers @muvaf
/internal/controller/apiextensions/  @crossplane/crossplane-reviewers @muvaf

# RBAC
/cmd/crossplane/rbac/                @crossplane/crossplane-reviewers @negz
/internal/controller/rbac/           @crossplane/crossplane-reviewers @negz

# Misc
/apis/secrets/                       @crossplane/crossplane-reviewers @turkenh
/cmd/crank/                          @crossplane/crossplane-reviewers @hasheddan
/internal/initializer/               @crossplane/crossplane-reviewers @muvaf
/internal/features/                  @crossplane/crossplane-reviewers @negz
