Repository crossplane/crossplane, changes with the owners that CODEOWNERS names for each.
All owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers, @crossplane/steering-committee, @negz, @hasheddan, @muvaf, @turkenh

moves docs from /content/docs to /content on the website repo
  Makefile
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

moves docs from /content/docs to /content on the website repo
  Makefile
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

moves docs from /content/docs to /content on the website repo
  Makefile
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

fixes incorrect version references
  docs/getting-started/install-configure.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

fixes incorrect version references
  docs/getting-started/install-configure.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

remove recommendation on local development
  docs/contributing/docs.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Automatically replicate identical API types to older versions
  apis/apiextensions/v1alpha1/zz_generated.revision_types.go
  apis/generate.go
  hack/duplicate_api_type.sh
Owners: @crossplane/crossplane-reviewers, @muvaf, @crossplane/crossplane-maintainers

Use goverter to automatically generate conversion code
  apis/apiextensions/v1/conversion.go
  apis/apiextensions/v1/zz_generated.conversion.go
  apis/apiextensions/v1/zz_generated.deepcopy.go
  apis/generate.go
  apis/pkg/meta/v1alpha1/conversion.go
  apis/pkg/meta/v1alpha1/conversion_test.go
  apis/pkg/meta/v1alpha1/zz_generated.conversion.go
  apis/pkg/meta/v1alpha1/zz_generated.deepcopy.go
  go.mod
  go.sum
  internal/controller/apiextensions/composite/api.go
  internal/controller/apiextensions/composite/revision.go
  internal/controller/apiextensions/composite/revision_test.go
  internal/controller/apiextensions/composition/revision.go
  internal/controller/apiextensions/composition/revision_test.go
Owners: @crossplane/crossplane-reviewers, @muvaf, @crossplane/crossplane-maintainers, @hasheddan

Remove the v1alpha1 Lock.pkg.crossplane.io type
  apis/pkg/v1alpha1/lock.go
  apis/pkg/v1alpha1/register.go
  apis/pkg/v1alpha1/zz_generated.deepcopy.go
  cluster/crds/pkg.crossplane.io_locks.yaml
  internal/client/clientset/versioned/typed/pkg/v1alpha1/fake/fake_lock.go
  internal/client/clientset/versioned/typed/pkg/v1alpha1/fake/fake_pkg_client.go
  internal/client/clientset/versioned/typed/pkg/v1alpha1/generated_expansion.go
  internal/client/clientset/versioned/typed/pkg/v1alpha1/lock.go
  internal/client/clientset/versioned/typed/pkg/v1alpha1/pkg_client.go
  internal/initializer/lock.go
Owners: @crossplane/crossplane-reviewers, @hasheddan, @crossplane/crossplane-maintainers, @muvaf

Automatically duplicate apis/pkg/meta/v1alpha1 from v1
  apis/generate.go
  apis/pkg/meta/v1/conversion.go
  apis/pkg/meta/v1alpha1/configuration_types.go
  apis/pkg/meta/v1alpha1/conversion.go
  apis/pkg/meta/v1alpha1/zz_generated.configuration_types.go
  apis/pkg/meta/v1alpha1/zz_generated.meta.go
  apis/pkg/meta/v1alpha1/zz_generated.provider_types.go
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers, @hasheddan

Fix outdated path in references to hack/dupliate_api_type.sh
  apis/apiextensions/v1alpha1/zz_generated.revision_types.go
  apis/pkg/meta/v1alpha1/zz_generated.configuration_types.go
  apis/pkg/meta/v1alpha1/zz_generated.meta.go
  apis/pkg/meta/v1alpha1/zz_generated.provider_types.go
  hack/duplicate_api_type.sh
Owners: @crossplane/crossplane-reviewers, @muvaf, @hasheddan, @crossplane/crossplane-maintainers

Add instructions on using make for local dev
  docs/contributing/docs.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Remove 'CURRENT' marker
  apis/apiextensions/v1beta1/revision_types.go
  cluster/crds/apiextensions.crossplane.io_compositionrevisions.yaml
  docs/guides/composition-revisions.md
Owners: @crossplane/crossplane-reviewers, @muvaf, @crossplane/crossplane-maintainers

Update v1.8 docs content to conform to new docs.crossplane.io (#3482)
  Makefile
  docs/_index.md
  docs/cloud-providers/aws/aws-provider.md
  docs/cloud-providers/azure/azure-provider.md
  docs/cloud-providers/gcp/gcp-provider.md
  docs/concepts/composition.md
  docs/concepts/managed-resources.md
  docs/contributing/release-process.md
  docs/faqs/related_projects.md
  docs/getting-started/_index.md
  docs/getting-started/create-configuration.md
  docs/getting-started/install-configure.md
  docs/getting-started/provision-infrastructure.md
  docs/media/README.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Update v1.9 docs content to conform to new docs.crossplane.io (#3484)
  Makefile
  docs/_index.md
  docs/cloud-providers/aws/aws-provider.md
  docs/cloud-providers/azure/azure-provider.md
  docs/cloud-providers/gcp/gcp-provider.md
  docs/concepts/composition.md
  docs/concepts/managed-resources.md
  docs/contributing/release-process.md
  docs/faqs/related_projects.md
  docs/getting-started/_index.md
  docs/getting-started/create-configuration.md
  docs/getting-started/install-configure.md
  docs/getting-started/provision-infrastructure.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Update v1.10 docs content to conform to new docs.crossplane.io (#3485)
  Makefile
  docs/README.md
  docs/_index.md
  docs/cloud-providers/aws/aws-provider.md
  docs/cloud-providers/azure/azure-provider.md
  docs/cloud-providers/gcp/gcp-provider.md
  docs/concepts/composition.md
  docs/concepts/managed-resources.md
  docs/contributing/docs.md
  docs/contributing/release-process.md
  docs/faqs/related_projects.md
  docs/getting-started/_index.md
  docs/getting-started/create-configuration.md
  docs/getting-started/install-configure.md
  docs/getting-started/provision-infrastructure.md
  docs/guides/vault-injection.md
  docs/media/README.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Update master docs content to conform to new docs.crossplane.io (#3486)
  Makefile
  docs/README.md
  docs/_index.md
  docs/cloud-providers/aws/aws-provider.md
  docs/cloud-providers/azure/azure-provider.md
  docs/cloud-providers/gcp/gcp-provider.md
  docs/concepts/composition.md
  docs/concepts/managed-resources.md
  docs/contributing/docs.md
  docs/contributing/release-process.md
  docs/faqs/related_projects.md
  docs/getting-started/_index.md
  docs/getting-started/create-configuration.md
  docs/getting-started/install-configure.md
  docs/getting-started/provision-infrastructure.md
  docs/guides/argo-cd-crossplane.md
  docs/guides/multi-tenant.md
  docs/guides/vault-injection.md
  docs/media/README.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Add missing word
  docs/guides/vault-as-secret-store.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Add missing word
  docs/guides/vault-as-secret-store.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Add missing word
  docs/guides/vault-as-secret-store.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Add missing word
  docs/guides/vault-as-secret-store.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Remove unnecessary a
  docs/guides/vault-as-secret-store.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Remove unnecessary a
  docs/guides/vault-as-secret-store.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Remove unnecessary a
  docs/guides/vault-as-secret-store.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Remove unnecessary a
  docs/guides/vault-as-secret-store.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Add missing word
  docs/guides/vault-as-secret-store.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Remove unnecessary a
  docs/guides/vault-as-secret-store.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Remove unnecessary a
  docs/guides/vault-as-secret-store.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Add missing word
  docs/guides/vault-as-secret-store.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Remove unnecessary a
  docs/guides/vault-as-secret-store.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Add missing word
  docs/guides/vault-as-secret-store.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Switch Nathan for Ezgi in reviewers
  OWNERS.md
Owners: @crossplane/steering-committee

Update code styling guidelines for rules on code fences and highlighting
  docs/contributing/docs.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Fix enabling external secret stores in guide
  docs/guides/vault-as-secret-store.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Fix enabling external secret stores in guide
  docs/guides/vault-as-secret-store.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Add a tutorial doc for composition revisions
  docs/tutorials/composition-revisions.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Rename docs repo
  docs/contributing/docs.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Updates docs repo location
  Makefile
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Adds .git suffix
  Makefile
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Updates docs repo location
  .github/ISSUE_TEMPLATE/release.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

CODEOWNERS:

# This file controls automatic PR reviewer assignment. See the following docs:
#
# * https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# * https://docs.github.com/en/organizations/organizing-members-into-teams/managing-code-review-settings-for-your-team
#
# The goal of this file is for most PRs to automatically and fairly have one
# maintainer and two reviewers set as PR reviewers. All maintainers have
# permission to approve and merge PRs, but reviewers do not. Most PRs should be
# reviewed by members of the reviewers group before being passed to a maintainer
# for final review.
#
# This in part depends on how the groups in this file are configured.
#
# @crossplane/steering-committee - Assigns 3 members. Admin perms to this repo.
# @crossplane/crossplane-maintainers - Assigns 1 member. Maintain perms to this repo.
# @crossplane/crossplane-reviewers - Assigns 2 members. Write perms to this repo.
#
# Where possible, prefer explicitly specifying a maintainer who is a subject
# matter expert for a particular part of the codebase rather than using the
# @crossplane/crossplane-maintainers group.
#
# See also OWNERS.md for governance details

# Fallback owners
*                                   @crossplane/crossplane-maintainers @crossplane/crossplane-reviewers

# Governance owners - steering committee
/README.md                           @crossplane/steering-committee
/OWNERS.md                           @crossplane/steering-committee
/CHARTER.md                          @crossplane/steering-committee
/CODE_OF_CONDUCT.md                  @crossplane/steering-committee
/GOVERNANCE.md                       @crossplane/steering-committee
/ROADMAP.md                          @crossplane/steering-committee
/LICENSE                             @crossplane/steering-committee

# Design documents
/design/                             @crossplane/crossplane-maintainers @negz

# Package manager
/apis/pkg/                           @crossplane/crossplane-reviewers @hasheddan
/internal/xpkg/                      @crossplane/crossplane-reviewers @hasheddan
/internal/dag/                       @crossplane/crossplane-reviewers @hasheddan
/internal/controller/pkg/            @crossplane/crossplane-reviewers @hasheddan

# Composition
/apis/apiextensions/                 @crossplane/crossplane-reviewers @muvaf
/internal/xcrd/                      @crossplane/crossplane-reviewers @muvaf
/internal/controller/apiextensions/  @crossplane/crossplane-reviewers @muvaf

# RBAC
/cmd/crossplane/rbac/                @crossplane/crossplane-reviewers @negz
/internal/controller/rbac/           @crossplane/crossplane-reviewers @negz

# Misc
/apis/secrets/                       @crossplane/crossplane-reviewers @turkenh
/cmd/crank/                          @crossplane/crossplane-reviewers @hasheddan
/internal/initializer/               @crossplane/crossplane-reviewers @muvaf
/internal/features/                  @crossplane/crossplane-reviewers @negz
