Repository crossplane/crossplane, changes with the owners that CODEOWNERS names for each.
All owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers, @crossplane/steering-committee, @negz, @hasheddan, @muvaf, @turkenh

CODEOWNERS:

# This file controls automatic PR reviewer assignment. See the following docs:
#
# * https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# * https://docs.github.com/en/organizations/organizing-members-into-teams/managing-code-review-settings-for-your-team
#
# The goal of this file is for most PRs to automatically and fairly have one
# maintainer and two reviewers set as PR reviewers. All maintainers have
# permission to approve and merge PRs, but reviewers do not. Most PRs should be
# reviewed by members of the reviewers group before being passed to a maintainer
# for final review.
#
# This in part depends on how the groups in this file are configured.
#
# @crossplane/steering-committee - Assigns 3 members. Admin perms to this repo.
# @crossplane/crossplane-maintainers - Assigns 1 member. Maintain perms to this repo.
# @crossplane/crossplane-reviewers - Assigns 2 members. Write perms to this repo.
#
# Where possible, prefer explicitly specifying a maintainer who is a subject
# matter expert for a particular part of the codebase rather than using the
# @crossplane/crossplane-maintainers group.
#
# See also OWNERS.md for governance details

# Fallback owners
*                                   @crossplane/crossplane-maintainers @crossplane/crossplane-reviewers

# Governance owners - steering committee
/README.md                           @crossplane/steering-committee
/OWNERS.md                           @crossplane/steering-committee
/CHARTER.md                          @crossplane/steering-committee
/CODE_OF_CONDUCT.md                  @crossplane/steering-committee
/GOVERNANCE.md                       @crossplane/steering-committee
/ROADMAP.md                          @crossplane/steering-committee
/LICENSE                             @crossplane/steering-committee

# Design documents
/design/                             @crossplane/crossplane-maintainers @negz

# Package manager
/apis/pkg/                           @crossplane/crossplane-reviewers @hasheddan
/internal/xpkg/                      @crossplane/crossplane-reviewers @hasheddan
/internal/dag/                       @crossplane/crossplane-reviewers @hasheddan
/internal/controller/pkg/            @crossplane/crossplane-reviewers @hasheddan

# Composition
/apis/apiextensions/                 @crossplane/crossplane-reviewers @muvaf
/internal/xcrd/                      @crossplane/crossplane-reviewers @muvaf
/internal/controller/apiextensions/  @crossplane/crossplane-reviewers @muvaf

# RBAC
/cmd/crossplane/rbac/                @crossplane/crossplane-reviewers @negz
/internal/controller/rbac/           @crossplane/crossplane-reviewers @negz

# Misc
/apis/secrets/                       @crossplane/crossplane-reviewers @turkenh
/cmd/crank/                          @crossplane/crossplane-reviewers @hasheddan
/internal/initializer/               @crossplane/crossplane-reviewers @muvaf
/internal/features/                  @crossplane/crossplane-reviewers @negz

Remove current condition and fix unit tests
  apis/apiextensions/v1/composition_hash.go
  apis/apiextensions/v1alpha1/conditions.go
  apis/apiextensions/v1alpha1/revision_types.go
  go.mod
  go.sum
  internal/controller/apiextensions/composite/api.go
  internal/controller/apiextensions/composite/api_test.go
  internal/controller/apiextensions/composition/reconciler.go
  internal/controller/apiextensions/composition/reconciler_test.go
  internal/controller/apiextensions/composition/revision.go
  internal/controller/apiextensions/composition/revision_test.go
  internal/xcrd/crd_test.go
Owners: @crossplane/crossplane-reviewers, @muvaf, @crossplane/crossplane-maintainers

Avoid importing controller code to another controller
  apis/apiextensions/v1/composition_hash.go
  apis/apiextensions/v1/composition_revision.go
  go.mod
  go.sum
  internal/controller/apiextensions/claim/configurator.go
  internal/controller/apiextensions/composite/api.go
  internal/controller/apiextensions/composition/reconciler.go
Owners: @crossplane/crossplane-reviewers, @muvaf, @crossplane/crossplane-maintainers

Add guidance around code review process
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

add unit tests for LatestRevision function
  apis/apiextensions/v1/composition_hash.go
  apis/apiextensions/v1/composition_revision.go
  apis/apiextensions/v1/composition_revision_test.go
  internal/controller/apiextensions/composite/api.go
  internal/controller/apiextensions/composite/api_test.go
Owners: @crossplane/crossplane-reviewers, @muvaf

fix link.
  docs/contributing/provider_development_guide.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Separate release and patch release issue templates
  .github/ISSUE_TEMPLATE/patch_release.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Update to new syntax for hiding pages from the left-hand navigation
  docs/cloud-providers/aws/aws-provider.md
  docs/cloud-providers/azure/azure-provider.md
  docs/cloud-providers/gcp/gcp-provider.md
  docs/media/README.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Fix broken links
  docs/concepts/composition.md
  docs/contributing/release-process.md
  docs/faqs/related_projects.md
  docs/guides/multi-tenant.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Update to tab shortcode
  docs/concepts/managed-resources.md
  docs/getting-started/create-configuration.md
  docs/getting-started/provision-infrastructure.md
  docs/guides/vault-injection.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Update image links to shortcode
  docs/_index.md
  docs/getting-started/_index.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Fix broken links
  docs/getting-started/install-configure.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Update for docs.crossplane.io switchover
  docs/README.md
  docs/_index.md
  docs/api-docs/_index.md
  docs/api-docs/provider-alibaba.md
  docs/api-docs/provider-aws.md
  docs/api-docs/provider-azure.md
  docs/api-docs/provider-gcp.md
  docs/api-docs/provider-helm.md
  docs/api-docs/provider-rook.md
  docs/cloud-providers/aws/aws-provider.md
  docs/cloud-providers/azure/azure-provider.md
  docs/cloud-providers/gcp/gcp-provider.md
  docs/concepts/_index.md
  docs/concepts/composition.md
  docs/concepts/managed-resources.md
  docs/concepts/packages.md
  docs/concepts/providers.md
  docs/contributing/docs.md
  docs/contributing/release-process.md
  docs/faqs/related_projects.md
  docs/getting-started/_index.md
  docs/getting-started/create-configuration.md
  docs/getting-started/install-configure.md
  docs/getting-started/provision-infrastructure.md
  docs/guides/multi-tenant.md
  docs/guides/vault-as-secret-store.md
  docs/guides/vault-injection.md
  docs/media/README.md
  docs/reference/composition.md
  docs/snippets/package/aws-with-vpc/crossplane.yaml
  docs/snippets/package/aws/crossplane.yaml
  docs/snippets/package/azure/crossplane.yaml
  docs/snippets/package/gcp/crossplane.yaml
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

simplify front matter
  docs/_index.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

simplify front matter
  docs/_index.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Update for docs.crossplane.io switchover
  docs/_index.md
  docs/api-docs/_index.md
  docs/api-docs/provider-alibaba.md
  docs/api-docs/provider-aws.md
  docs/api-docs/provider-azure.md
  docs/api-docs/provider-gcp.md
  docs/api-docs/provider-helm.md
  docs/api-docs/provider-rook.md
  docs/cloud-providers/aws/aws-provider.md
  docs/cloud-providers/azure/azure-provider.md
  docs/cloud-providers/gcp/gcp-provider.md
  docs/concepts/_index.md
  docs/concepts/composition.md
  docs/concepts/managed-resources.md
  docs/concepts/packages.md
  docs/concepts/providers.md
  docs/contributing/release-process.md
  docs/faqs/related_projects.md
  docs/getting-started/_index.md
  docs/getting-started/create-configuration.md
  docs/getting-started/install-configure.md
  docs/getting-started/provision-infrastructure.md
  docs/guides/multi-tenant.md
  docs/guides/vault-as-secret-store.md
  docs/guides/vault-injection.md
  docs/reference/composition.md
  docs/reference/troubleshoot.md
  docs/snippets/package/aws-with-vpc/crossplane.yaml
  docs/snippets/package/aws/crossplane.yaml
  docs/snippets/package/azure/crossplane.yaml
  docs/snippets/package/gcp/crossplane.yaml
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Update for docs.crossplane.io switchover
  docs/_index.md
  docs/cloud-providers/aws/aws-provider.md
  docs/cloud-providers/azure/azure-provider.md
  docs/cloud-providers/gcp/gcp-provider.md
  docs/concepts/composition.md
  docs/concepts/managed-resources.md
  docs/contributing/release-process.md
  docs/faqs/related_projects.md
  docs/getting-started/_index.md
  docs/getting-started/create-configuration.md
  docs/getting-started/install-configure.md
  docs/getting-started/provision-infrastructure.md
  docs/media/README.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Add a docs issue template to auto tag doc bugs
  .github/ISSUE_TEMPLATE/docs_issue.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Have the revive linter act like golint
  .golangci.yml
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Address revive linter comments
  apis/apiextensions/v1/composition_transforms.go
  cmd/crank/main.go
  cmd/crossplane/core/core.go
  cmd/crossplane/main.go
  cmd/crossplane/rbac/rbac.go
  internal/controller/apiextensions/apiextensions.go
  internal/controller/apiextensions/claim/reconciler.go
  internal/controller/apiextensions/composite/composed.go
  internal/controller/apiextensions/composite/reconciler.go
  internal/controller/apiextensions/composition/reconciler.go
  internal/controller/apiextensions/composition/revision_test.go
  internal/controller/apiextensions/definition/reconciler.go
  internal/controller/apiextensions/offered/reconciler.go
  internal/controller/doc.go
  internal/controller/pkg/manager/reconciler.go
  internal/controller/pkg/pkg.go
  internal/controller/pkg/resolver/reconciler.go
  internal/controller/pkg/revision/reconciler.go
  internal/controller/rbac/definition/reconciler.go
  internal/controller/rbac/namespace/reconciler.go
  internal/controller/rbac/provider/binding/reconciler.go
  internal/controller/rbac/provider/roles/reconciler.go
  internal/controller/rbac/rbac.go
  internal/dag/dag.go
  internal/dag/fake/mocks.go
  internal/features/features.go
  internal/initializer/initializer.go
  internal/transport/transport.go
  internal/version/fake/mocks.go
  internal/version/version.go
  internal/xpkg/doc.go
  internal/xpkg/fake/mocks.go
Owners: @crossplane/crossplane-reviewers, @muvaf, @hasheddan, @crossplane/crossplane-maintainers, @negz

Enable nolintlint linter
  .golangci.yml
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Address nolintlint complaints
  apis/apiextensions/v1/composition_hash.go
  apis/apiextensions/v1/composition_transforms.go
  cmd/crank/build.go
  cmd/crank/install.go
  cmd/crank/main.go
  cmd/crank/push.go
  cmd/crank/update.go
  cmd/crossplane/core/core.go
  cmd/crossplane/main.go
  internal/controller/apiextensions/claim/configurator.go
  internal/controller/apiextensions/claim/reconciler.go
  internal/controller/apiextensions/composite/api.go
  internal/controller/apiextensions/composite/composed.go
  internal/controller/apiextensions/composite/connection.go
  internal/controller/apiextensions/composite/reconciler.go
  internal/controller/apiextensions/composite/revision.go
  internal/controller/apiextensions/composition/reconciler.go
  internal/controller/apiextensions/composition/revision.go
  internal/controller/apiextensions/definition/reconciler.go
  internal/controller/apiextensions/offered/reconciler.go
  internal/controller/pkg/manager/reconciler.go
  internal/controller/pkg/resolver/reconciler.go
  internal/controller/pkg/revision/dependency.go
  internal/controller/pkg/revision/deployment.go
  internal/controller/pkg/revision/establisher.go
  internal/controller/pkg/revision/hook.go
  internal/controller/pkg/revision/imageback.go
  internal/controller/pkg/revision/reconciler.go
  internal/controller/rbac/provider/roles/reconciler.go
  internal/dag/dag.go
  internal/initializer/crds.go
  internal/initializer/installer.go
  internal/initializer/webhook_configurations.go
  internal/transport/transport_test.go
  internal/xpkg/cache.go
  internal/xpkg/find.go
  internal/xpkg/name.go
  internal/xpkg/reader.go
Owners: @crossplane/crossplane-reviewers, @muvaf, @hasheddan, @crossplane/crossplane-maintainers, @negz

Update contributing guide for new docs theme
  docs/contributing/docs.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Update contributing guide for new docs theme
  docs/contributing/docs.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

fix broken link to helm provider
  docs/concepts/composition.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Promote comp rev version to v1beta1
  apis/apiextensions/v1beta1/doc.go
  apis/apiextensions/v1beta1/register.go
  apis/apiextensions/v1beta1/revision_types.go
  apis/apiextensions/v1beta1/zz_generated.deepcopy.go
  cluster/crds/apiextensions.crossplane.io_compositionrevisions.yaml
  cmd/crossplane/core/core.go
  internal/controller/apiextensions/apiextensions.go
  internal/controller/apiextensions/definition/reconciler.go
Owners: @crossplane/crossplane-reviewers, @muvaf, @crossplane/crossplane-maintainers

update controller code to reconcile on v1beta1 and readd feature flag
  apis/apiextensions/apiextensions.go
  apis/apiextensions/v1/composition_revision.go
  apis/apiextensions/v1/composition_revision_test.go
  apis/apiextensions/v1beta1/revision_types.go
  apis/apiextensions/v1beta1/zz_generated.deepcopy.go
  cluster/crds/apiextensions.crossplane.io_compositionrevisions.yaml
  cmd/crossplane/core/core.go
  internal/controller/apiextensions/apiextensions.go
  internal/controller/apiextensions/composite/api.go
  internal/controller/apiextensions/composite/api_test.go
  internal/controller/apiextensions/composite/revision.go
  internal/controller/apiextensions/composite/revision_test.go
  internal/controller/apiextensions/composition/reconciler.go
  internal/controller/apiextensions/composition/reconciler_test.go
  internal/controller/apiextensions/composition/revision.go
  internal/controller/apiextensions/composition/revision_test.go
  internal/controller/apiextensions/definition/reconciler.go
  internal/features/features.go
Owners: @crossplane/crossplane-reviewers, @muvaf, @crossplane/crossplane-maintainers, @negz

update comp rev schema
  apis/apiextensions/v1alpha1/doc.go
  apis/apiextensions/v1beta1/doc.go
  apis/apiextensions/v1beta1/revision_types.go
  apis/apiextensions/v1beta1/zz_generated.deepcopy.go
  cluster/crds/apiextensions.crossplane.io_compositionrevisions.yaml
  docs/reference/feature-lifecycle.md
Owners: @crossplane/crossplane-reviewers, @muvaf, @crossplane/crossplane-maintainers

fix broken link to helm provider
  docs/concepts/composition.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

fix all broken links in install-configure
  docs/contributing/docs.md
  docs/getting-started/install-configure.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Remove notices that Composition Revision related fields are alpha
  internal/xcrd/crd_test.go
  internal/xcrd/schemas.go
Owners: @crossplane/crossplane-reviewers, @muvaf

correct spelling in composition functions design doc
  design/design-doc-composition-functions.md
Owners: @crossplane/crossplane-maintainers, @negz

Remove stale exemption
  .github/ISSUE_TEMPLATE/docs_issue.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

fix all broken links in install-configure
  docs/contributing/docs.md
  docs/getting-started/install-configure.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

Update composition revision guide
  docs/guides/composition-revisions.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

port commit d5242fce9eb90e63a7bb7dcd58c1f90b6e7084df
  docs/getting-started/install-configure.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

port commit 66fe725fd07cb7d062ae05a05f8312a923f3fb1a
  docs/getting-started/install-configure.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

port v1.10 changes to current
  docs/concepts/composition.md
  docs/getting-started/install-configure.md
  docs/reference/composition.md
  docs/reference/install.md
  docs/reference/troubleshoot.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

update to latest contributions:
  docs/README.md
  docs/concepts/managed-resources.md
  docs/contributing/release-process.md
  docs/getting-started/create-configuration.md
  docs/getting-started/install-configure.md
  docs/guides/argo-cd-crossplane.md
  docs/reference/feature-lifecycle.md
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers

moves docs from /content/docs to /content on the website repo
  Makefile
Owners: @crossplane/crossplane-maintainers, @crossplane/crossplane-reviewers
